@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --navy-color: rgb(7, 7, 31);
  --lightnavy-color: rgb(18, 18, 59);
  --white-color: white;
  --gray-color: gray;
  --lightgray-color: rgb(184, 184, 184);
}

body {
  height: auto;
  display: flex;
  font-family: "Roboto";
}

.navbar {
  position: sticky;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* Avatar styling start */

.navbar-avatar {
  height: 165px;
  width: 200px;
  border-bottom: 1px solid var(--lightgray-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  height: 140px;
  width: 140px;
  border: 6px solid var(--lightnavy-color);
  border-radius: 50%;
  overflow: hidden;
}

.avatar > img {
  height: 140px;
  margin-left: -5px;
}

/* Avatar Styling End */

/* Navbar Styling Start */

.navbar ul {
  list-style: none;
  display: block;
  width: 200px;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: var(--gray-color);
  width: 200px;
  padding: 10px 5px;
  font-size: 1.25rem;
  transition: all 0.4s ease-in;
}

.navbar ul li a:hover {
  padding-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar ul li a::before {
  content: "â¤";
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.6s;
}

.navbar ul li a:hover::before {
  margin-left: 20px;
  font-weight: bold;
  color: red;
  opacity: 1;
}

.fa {
  color: var(--navy-color);
  display: inline-block;
  padding: 4px;
}

/* Navbar styling End */

.container {
  flex-basis: calc(100% - 200px);
}

/* Home class style start */

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navy-color);
}

.home-container {
  height: 70vh;
  width: 70vw;
  color: var(--white-color);
  text-shadow: 1px 1px 3px gray;
}

.home-container > h1 {
  font-size: 3rem;
  font-weight: lighter;
  padding: 20px 0;
}

.home-container #typing {
  padding: 10px 0;
  font-size: 1.4rem;
}

#typing .typing {
  color: rgb(47, 142, 231);
  font-weight: lighter;
}

.home-container .sometext {
  padding: 20px 0;
  font-size: 1.5rem;
}

.home-socialmedia-links {
  padding: 10px 0;
}

.home-socialmedia-links > a {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  margin: 5px;
  background-color: white;
  font-size: 1.6rem;
  border-radius: 50%;
  transition: all 0.2s;
}

.home-socialmedia-links > a:hover > i {
  color: var(--white-color);
}

/* For Github */

.home-socialmedia-links > a:nth-child(1):hover {
  background-color: black;
  box-shadow: 0 0 5px var(--white-color);
}

/* for facebook */

.home-socialmedia-links > a:nth-child(2):hover {
  background-color: rgb(12, 60, 133);
  box-shadow: 0 0 5px var(--white-color);
}

/* Home buttons */

.home-buttons {
  padding: 10px 0;
}

.home-buttons > a {
  text-decoration: none;
  text-shadow: none;
  display: inline-block;
  padding: 15px 30px;
}

.home-buttons .readmore {
  background-color: var(--white-color);
  color: var(--navy-color);
  border-radius: 6px;
  transition: all 0.2s;
}

.home-buttons .readmore:hover {
  box-shadow: inset 0 0 8px var(--navy-color);
}

.home-buttons .contactme {
  margin-left: 10px;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 6px;
  transition: all 0.2s;
}

.home-buttons .contactme:hover {
  box-shadow: inset 0 0 8px var(--white-color);
}

/* Home class style end */

/* About class Style Start */

.section {
  min-height: 100vh;
  background: url("../images/bg.png") repeat;
  padding-bottom: 30px;
}

.section-header {
  /* height: 100px; */
  padding: 20px;
  color: var(--white-color);
  font-size: 2.5rem;
  font-weight: lighter;
  letter-spacing: 1px;
  background-color: var(--navy-color);
  filter: saturate(2);
  margin-bottom: 50px;
}

.section-main {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2.5rem;
}

.section-main .description {
  display: block;
  margin-inline-end: 50px;
  margin-inline-start: 50px;
  color: black;
  text-align: justify;
}

.technologies,
.short-note {
  display: block;
  margin-inline-end: 50px;
  margin-inline-start: 50px;
  margin-block-start: 30px;
}

/* About class Style End */

/* Accordion start */

.technologies {
  user-select: none;
  border: 1px solid gray;
  border-radius: 10px;
}

.accordion:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.accordion:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.accordion {
  border: 1px solid gray;
}

.accordion-header {
  padding: 5px 5px 5px 20px;
  cursor: pointer;
  font-weight: bold;
}

.accordion-header:hover {
  background-color: #eee;
}

.accordion-body {
  padding-left: 50px;
  transition: all 0.4s;
  /* display: none; */
}

.arrow {
  float: right;
  padding-right: 20px;
}

.capsule {
  padding: 2px 10px;
  background-color: var(--navy-color);
  color: var(--white-color);
  border-radius: 20px;
  transition: all 0.2s;
}

.capsule:hover {
  color: #eee;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

/* Accordion End */

.contact-main {
  display: flex;
  justify-content: center;
  margin-bottom: -49px;
  height: 100vh;
}

.contact-info {
  width: 50%;
  background-image: url("../images/contact-background.png");
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
  color: white;
}

.card {
  margin: 20px;
}

.card-body {
  padding-left: 10%;
  color: rgb(182, 180, 180);
  font-size: 16px;
}

.card-header,
.contact-icon {
  color: white;
  font-size: 1.2rem;
}

.phoneno-link {
  text-decoration: none;
  color: green;
}

.phoneno,
.email {
  text-decoration: none;
  color: green;
}

.contact-form {
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.form-group {
  position: relative;
}

.form-control {
  height: 3rem;
  width: 30vw;
  padding: 2px 10px;
  line-height: 1.5rem;
  font-size: 1.2rem;
  border: 1px solid rgb(50, 54, 54);
  border-radius: 6px;
}

#message {
  width: 30vw;
  height: 200px;
  resize: none;
}

.form-control:focus {
  border: 1px solid rgb(35, 196, 236);
  outline: none;
}

.form-control::placeholder {
  transition: all 0.2s;
}

.form-control:focus::placeholder {
  font-size: 1rem;
}

.sendmessagebtn {
  margin-top: -20px;
  border: 1px solid var(--gray-color);
  padding: 15px 25px;
  border-radius: 6px;
  background-color: var(--navy-color);
  color: var(--white-color);
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.sendmessagebtn:hover{
  box-shadow: inset 0 0 5px var(--lightgray-color);
  letter-spacing: normal;
}